/*Pour tout le monde*/
@import url('https://fonts.googleapis.com/css?family=Lobster%7CMuli');
html{
    width : 100%;
    height : 100%;
}
body
{
    margin: 0px;
    font-family: 'Muli', sans-serif;
    width : 100%;
    height : 100%;
}
*{
    box-sizing: border-box;
}
/* Début Alexis*/

/* Fin ALexis */

/* Début Corentin */

/* Fin Corentin */

/* Début Samory */

/* Fin Samory */

/* Début Charles */

/* Fin Charles */