/*Pour tout le monde*/
html{
    width : 100%;
    height : 100%;
}
body
{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    width : 100%;
    height : 100%;
}
*{
    box-sizing: border-box;
}
/* Début Alexis*/

/* Fin ALexis */

/* Début Corentin */

/* Fin Corentin */

/* Début Samory */
    /* Début header*/
    
    #header #logo_foodtruck
    {
        width: 30%;
    }
    
    #header #titre
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 10vw;
    }
    
    #s_header
    {
        
    }

    /* fin header*/

/* Fin Samory */

/* Début Charles */

/* Fin Charles */