/*Pour tout le monde*/

html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	@import url('https://fonts.googleapis.com/css?family=Lobster%7CMuli');
}

* {
	box-sizing: border-box;
}

a {
	background-color: transparent;
	color: black;
	text-decoration: none;
}


/* Début Alexis*/
/*---------------------------
--------HEADER ADMIN--------
---------------------------*/

#a_admin_hub header p {
	font-size: 50px;
	text-align: center;
}

/* FIN HEADER ADMIN */

/*---------------------------
----------HUB ADMIN----------
---------------------------*/

#a_admin_hub #a_boutons_container {
	display: flex;
	justify-content: center;
	width: 80vw;
	margin: auto;
}

#a_admin_hub #a_boutons_container a {
	width: 33%;
	border: solid 2px black;
	text-align: center;
	padding: 8vh 0;
}

#a_admin_hub #a_title_admin_hub {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8vh;
}

#a_admin_hub #a_title_admin_hub svg {
	width: 48px;
	height: 48px;
}

#a_admin_hub #a_title_admin_hub h1 {
	font-size: 40px;
	font-weight: 100;
}

#a_admin_hub #a_boutons_container a:nth-child(2) {
	width: 34%;
}

#a_admin_hub #a_boutons_container #a_menu_div svg {
	width: 48px;
	height: 48px;
}

#a_admin_hub #a_boutons_container #a_article_div svg {
	width: 48px;
	height: 48px;
}

#a_admin_hub #a_boutons_container #a_reponses_div svg {
	width: 40px;
	height: 40px;
}

#a_admin_hub #a_boutons_container div:hover  {
	background-color: 
}


/* ADMIN HUB FIN */


/* Fin ALexis */


/* Début Corentin */


/* Fin Corentin */


/* Début Samory */


/* Fin Samory */


/* Début Charles */


/* Fin Charles */